<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="primary">
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="row">
                    <h3>About</h3>
                    <p class="text-muted text-align">The dgSPARSE (Deep Graph Sparse) project provides capability of
                        sparse kernel acceleration on GPUs. Currently dgSPARSE provides <a
                            href="https://github.com/dgSPARSE/dgSPARSE-Wrapper">dgSPARSE Wrapper</a> and <a
                            href="https://github.com/dgSPARSE/dgSPARSE-Library">dgSPARSE Library</a>.</p>
                </div>
                <div class="row text-center">
                    <img src="img/dgsparse.png" class="img-responsive" alt="">
                </div>
                <div class="row">
                    <h3>Members</h3>
                    <ul class="list-unstyled text-muted">
                        <li><a href="https://nicsefc.ee.tsinghua.edu.cn/people/guohao-dai/">Guohao Dai</a> (Tsinghua
                            University)</li>
                        <li><a href="https://hgyhungry.github.io">Guyue Huang</a> (University of California, Santa
                            Barbara)</li>
                        <li><a href="https://fishmingyu.github.io">Zhongming Yu</a> (Tsinghua University)</li>
                        <li>Hengrui Zhang (Tsinghua University)</li>
                        <li>Shang Yang (Tsinghua University)</li>
                        <li><a href="https://tonyjie.github.io">Jiajie Li</a> (Tsinghua University)</li>
                        <li>Yu Wang (Tsinghua University)</li>
                    </ul>
                </div>
                <div class="row">
                    <h3>These awesome papers are with dgSPARSE</h3>
                    <ul class="list-unstyled text-muted">
                        <li> Guyue Huang, Guohao Dai, et al. "GE-SpMM: General-purpose Sparse Matrix-Matrix
                            Multiplication on GPUs for Graph Neural Networks", in SC 2020. <a
                                href="https://nicsefc.ee.tsinghua.edu.cn/media/publications/2020/SC20_320.pdf">Link</a>.
                        </li>
                        <li> Yukuo Cen, Zhenyu Hou, et al. "CogDL: An Extensive Toolkit for Deep Learning on Graphs", in
                            arXiv. <a href="https://arxiv.org/abs/2103.00959">Link</a>.</li>
                        <li>...</li>
                    </ul>
                </div>
            </div>
        </div>
</section>
