<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="primary">
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <h3>About</h3>
                <p class="text-muted text-align">The dgSPARSE Wrapper is an open-source project which compiles
                    different
                    sparse
                    libraries and generates a unified sparse library. The generated sparse library exposes
                    compatible interfaces to the NVIDIA cuSPARSE library. Users can also expose more interfaces than
                    the NVIDIA cuSPARSE library with the dgSPARSE Wrapper project.</p>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <img src="img/dgsparse.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="row">
                    <h3>Members</h3>
                    <ul class="list-unstyled text-muted">
                        <li>Guohao Dai</li>
                        <li>...</li>
                    </ul>
                </div>
                <div class="row">
                    <h3>Published papers</h3>
                    <ul class="list-unstyled text-muted">
                        <li>ge-spmm</li>
                        <li>...</li>
                    </ul>
                </div>
            </div>
        </div>
</section>