<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-3 col-sm-4">
                <a href="https://github.com/dgSPARSE/dgSPARSE-Wrapper" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                dgSPARSE
                            </div>
                            <div class="project-name">
                                dgSPARSE-Wrapper
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-4">
                <a href="https://github.com/dgSPARSE/dgSPARSE-Library" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                dgSPARSE
                            </div>
                            <div class="project-name">
                                dgSPARSE-Library
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>